body {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	background-color: #1F1F1F;
}

.wrapper {
	width: 800px;
	margin: auto;
	background-color: white;
	padding: 20px;
}

.resume_item {

}

.resume_header {
	color: #235566;
	font-size: 20px;
	float: left;
	width: 120px;
}

.resume_subheader {
	font-weight: bold;
}

.resume_contents {
	margin-left: 120px;
}

.horizontal_line {
	background-color: #235566;
	height: 2px;
}

