
.resume_item {

}

.resume_header {
	color: #235566;
	font-size: 20px;
	float: left;
	width: 120px;
}

.resume_subheader {
	font-weight: bold;
}

.resume_contents {
	margin-left: 120px;
}

.horizontal_line {
	background-color: #235566;
	height: 10px;
}